<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- Css Links -->
		<link rel="shortcut icon" href="../img/shortcut icon.png" />
		<link rel="stylesheet" href="../css/dashboard-notif.css" />

		<title><%= pageTitle %></title>
	</head>
	<body>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
		<div class="container" style="background-image: url(../img/dashboard-bg.jpg)">
			<div class="container2">
				<!-- <a href="/" class="exit"><img src="../img/shortcut icon.png"></a> -->
				<div class="topblock">
					<div class="topblock__menu">
						<a href="/dashboard/settings">تنظیمات</a>
						<a>/</a>
						<a href="/dashboard/notif" class="active">اعلان ها</a>
						<a>/</a>
						<a href="/dashboard/team-tour">تیم ها و تورنومنت ها</a>
						<a>/</a>
						<a href="/dashboard">پروفایل</a>
					</div>
				</div>
				<div class="midblock">
					<div class="midblockk">
						<div class="midblock__right">
							<div class="midblock__right--right">
								<div class="top-box"><input type="search" placeholder="جستجو پلیر" />
									<a>انتخاب</a>
								</div>
								<div class="mid-note1"></div>
								<!-- -- -->
								<div class="bot-box">
									<a class="players">Jerax</a>
									<a class="players">Ali</a>
									<a class="players">Hossein</a>
									<a class="players activate">Mamad</a>
								</div>
							</div>
							<div class="midblock__right--left">
								<div class="message-box">
									<div class="send">
										<span class="send-time">08:21</span>
										<p>سلام چطوری ؟</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:21</span>
										<p dir="rtl">سلام خوبم تو چطوری ؟</p>
									</div>
									<div class="send">
										<span class="send-time">08:22</span>
										<p>من عالی</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:22</span>
										<p dir="rtl">خداروشکر چه میکنی ؟</p>
									</div>
									<div class="send">
										<span class="send-time">08:23</span>
										<p>هیچی نشستم</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:23</span>
										<p dir="rtl">گیم نمیای ؟</p>
									</div>
									<div class="send">
										<span class="send-time">08:24</span>
										<p>والا حوصله گیم ندارم . خونوادمم نیستن خونه . گشنمم هست. درسامم زیادن. فردا دوتا امتحان دارم</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:24</span>
										<p dir="rtl">سلام خوبم تو چطوری ؟</p>
									</div>
									<div class="send">
										<span class="send-time">08:25</span>
										<p>سلام چطوری ؟</p>
									</div>
									<div class="recieve">
										<span class="send-time">08:25</span>
										<p dir="rtl">سلام خوبم تو چطوری ؟</p>
									</div>
									<!-- <p>هنوز گفتگویی شروع نکرده اید ...</p> -->
								</div>
								<div class="send-box"><i class="bx bx-send"></i><input type="text" placeholder="چیزی بنویسید ..." />
								</div>
							</div>
						</div>
						<div class="midblock__left">
							<div class="out-messages">
								<div class="out-messages__top">
									<p>درخواست های ارسالی :</p>
									<div class="mid-note"></div>
								</div>
								<div class="out-messages__bot">
									<% outReqs.forEach(req => { if(req.type == 'join') { %>
											<div class="out-messages__bot--box">
												<div class="specific">
													<p>درخواست عضویت در تیم<a href="/team/<%= req.receiver.id %>" class="specific-team"><%= req.receiver.name %></a></p>
										<% } else if (req.type == 'recruit') { %>
											<div class="out-messages__bot--box">
												<div class="specific">
													<p>درخواست دعوت <a href="/player/<%= req.receiver.id %>" class="specific-player"><%= req.receiver.name %></a>به تیم من</p>
										<% } else { %>
											<div class="out-messages__bot--box">
												<div class="specific">
													<p>درخواست ثبت نام تیم در تورنومنت<a href="/tournament/<%= req.receiver.id %>" class="specific-sign"><%= req.receiver.name %></a></p>
										<% } %>
												</div>
												<a class="condition">
											<% if (req.state == 'Accepted') { %>
													<i class="bx bx-message-square-check"></i><span>تایید شده</span>
											<% } else if(req.state == 'Rejected') { %>
													<i class="bx bx-message-square-x"></i><span>رد شده</span>
											<% } else { %>
													<i class='bx bx-message-square-minus'></i><span>انتظار</span>
											<% } %>
												</a>
												<input type="hidden" value="<%= req.relativeReq.userId %>">
												<input type="hidden" value="<%= req.relativeReq.reqId %>">
												<input type="hidden" value="<%= req._id %>">
												<a class="delete">حذف</a>
											</div>
									<% }) %>
								</div>
							</div>
							<div class="in-messages">
								<div class="in-messages__top">
									<p>درخواست های دریافتی :</p>
									<div class="mid-note"></div>
								</div>
								<div class="in-messages__bot">
									<% inReqs.forEach(req => { if(req.type == 'accPlayer') { %>
											<div class="in-messages__bot--box">
												<div class="specific">
													<p><a href="/player/<%= req.sender.id %>" class="specific-player"><%= req.sender.name %></a>درخواست عضویت در تیم شما را دارد.</p>
										<% } else if (req.type == 'accRecruit') { %>
											<div class="in-messages__bot--box">
												<div class="specific">
													<p><a href="/team/<%= req.sender.id %>" class="specific-team"><%= req.sender.name %></a>شما را دعوت به عضویت کرد.</p>
										<% } else { %>
											<div class="in-messages__bot--box">
												<div class="specific">
													<p><a href="/tournament/<%= req.receiver.id %>" class="specific-team"><%= req.receiver.name %></a>درخواست ثبت نام در تورنومنت<a href="/team/<%= req.sender.id %>" class="specific-tour"><%= req.sender.name %></a> را دارد.</p>
										<% } %>
												</div>
												<div class="conditions">
													<input type="hidden" value="<%= req.sender.id %>">
													<input type="hidden" value="<%= req.type %>">
													<input type="hidden" value="<%= req.relativeReq.userId %>">
													<input type="hidden" value="<%= req.relativeReq.reqId %>">
													<input type="hidden" value="<%= req._id %>">
													<a name="accNotif" class="condition"><i class="bx bx-message-square-check"></i></a>
													<a name="rejNotif" class="condition"><i class="bx bx-message-square-x"></i></a>
												</div>
											</div>
									<% }) %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/dashboard.js"></script>
	</body>
</html>
