<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- Css Links -->
		<link rel="shortcut icon" href="../img/logo-lone.png" />
		<link rel="stylesheet" href="../css/dashboard-notif.css" />

		<title><%= pageTitle %></title>
	</head>
	<body>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
		<input type="hidden" name="userId" value="<%= userId %>"/>
		<div class="container" style="background-image: url(../img/dashboard-bg.jpg)">
			<div class="container2">
				<!-- <a href="/" class="exit"><img src="../img/shortcut icon.png"></a> -->
				<div class="topblock">
					<div class="topblock__menu">
						<a href="/dashboard/settings">تنظیمات</a>
						<a>/</a>
						<a href="/dashboard/notif" class="active">اعلان ها</a>
						<a>/</a>
						<a href="/dashboard/team-tour">تیم ها و تورنومنت ها</a>
						<a>/</a>
						<a href="/dashboard">پروفایل</a>
					</div>
				</div>
				<div class="midblock">
					<div class="midblockk">
						<div class="midblock__right">
							<div class="midblock__right--right">
								<div class="top-box">
									<div class="more">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
										</svg>
										<p>برای چت با دوستان خود نام آنها را جستجو نمایید .</p>
									</div>
									<div class="search">
										<input id="search" type="search" name="liveSearchInput" autocomplete="off" placeholder="جستجوی پلیر ..."/>
										<input type="hidden" name="searchType" value="player">
										<div class="uli1">
											<div class="uli">
												<ul id="search-result-box">
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="mid-note1"></div>
								<!-- -- -->
								<div class="bot-box">
									<% chatFriends.forEach(friend => { %>
										<div class="players">
											<input type="hidden" value="<%= friend.imageUrl %>">
											<input type="hidden" value="<%= friend.name %>">
											<input type="hidden" value="<%= friend.userId %>">
											<a name="getPvMails" class="player"><%= friend.name %></a>
											<div style="display: <%= friend.seen? 'none':'block' %>;" class="red-circle"></div>
										</div>
									<% }) %>
								</div>
							</div>
							<div class="midblock__right--left">
								<a style="display: none;" class="reciever-name">
									<p></p>
									<img/>
								</a>
								<div class="message-box">
									<p id="noMessage">هنوز گفتگویی شروع نکرده اید ...</p>
								</div>
								<div class="send-box">
									<i class="bx bx-send"></i>
									<input type="text" placeholder="چیزی بنویسید ..." />
								</div>
							</div>
						</div>
						<div class="midblock__left">
							<div class="out-messages">
								<div class="out-messages__top">
									<p>درخواست های ارسالی :</p>
									<div class="mid-note"></div>
								</div>
								<div class="out-messages__bot">
									<% outReqs.forEach(req => { if(req.type == 'join') { %>
											<div class="out-messages__bot--box">
												<div class="specific">
													<p>درخواست عضویت در تیم<a href="/team/<%= req.receiver.id %>" class="specific-team"><%= req.receiver.name %></a></p>
										<% } else if (req.type == 'recruit') { %>
											<div class="out-messages__bot--box">
												<div class="specific">
													<p>درخواست دعوت <a href="/player/<%= req.receiver.id %>" class="specific-player"><%= req.receiver.name %></a>به تیم من</p>
										<% } else { %>
											<div class="out-messages__bot--box">
												<div class="specific">
													<p>درخواست ثبت نام تیم در تورنومنت<a href="/tournament/<%= req.receiver.id %>" class="specific-sign"><%= req.receiver.name %></a></p>
										<% } %>
												</div>
												<a class="condition">
											<% if (req.state == 'Accepted') { %>
													<i class="bx bx-message-square-check"></i><span>تایید شده</span>
											<% } else if(req.state == 'Rejected') { %>
													<i class="bx bx-message-square-x"></i><span>رد شده</span>
											<% } else { %>
													<i class='bx bx-message-square-minus'></i><span>انتظار</span>
											<% } %>
												</a>
												<input type="hidden" value="<%= req.relativeReq.userId %>">
												<input type="hidden" value="<%= req.relativeReq.reqId %>">
												<input type="hidden" value="<%= req._id %>">
												<a class="delete">حذف</a>
											</div>
									<% }) %>
								</div>
							</div>
							<div class="in-messages">
								<div class="in-messages__top">
									<p>درخواست های دریافتی :</p>
									<div class="mid-note"></div>
								</div>
								<div class="in-messages__bot">
									<% inReqs.forEach(req => { if(req.type == 'accPlayer') { %>
											<div class="in-messages__bot--box">
												<div class="specific">
													<p><a href="/player/<%= req.sender.id %>" class="specific-player"><%= req.sender.name %></a>درخواست عضویت در تیم شما را دارد.</p>
												</div>
												<div class="conditions">
													<input type="hidden" value="<%= req.sender.id %>">
													<input type="hidden" value="<%= req.type %>">
													<input type="hidden" value="<%= req.relativeReq.userId %>">
													<input type="hidden" value="<%= req.relativeReq.reqId %>">
													<input type="hidden" value="<%= req._id %>">
													<a name="accNotif" class="condition"><i class="bx bx-message-square-check"></i></a>
													<a name="rejNotif" class="condition"><i class="bx bx-message-square-x"></i></a>
												</div>
											</div>
										<% } else if (req.type == 'accRecruit') { %>
											<div class="in-messages__bot--box">
												<div class="specific">
													<p><a href="/team/<%= req.sender.id %>" class="specific-team"><%= req.sender.name %></a>شما را دعوت به عضویت کرد.</p>
												</div>
												<div class="conditions">
													<input type="hidden" value="<%= req.sender.id %>">
													<input type="hidden" value="<%= req.type %>">
													<input type="hidden" value="<%= req.relativeReq.userId %>">
													<input type="hidden" value="<%= req.relativeReq.reqId %>">
													<input type="hidden" value="<%= req._id %>">
													<a name="accNotif" class="condition"><i class="bx bx-message-square-check"></i></a>
													<a name="rejNotif" class="condition"><i class="bx bx-message-square-x"></i></a>
												</div>
											</div>
										<% } else if (req.type == 'accTeam') { %>
											<div class="in-messages__bot--box">
												<div class="specific">
													<p><a href="/team/<%= req.sender.id %>" class="specific-tour"><%= req.sender.name %></a>درخواست ثبت نام در تورنومنت<a href="/tournament/<%= req.receiver.id %>" class="specific-team"><%= req.receiver.name %></a> را دارد.</p>
												</div>
												<div class="conditions">
													<input type="hidden" value="<%= req.sender.id %>">
													<input type="hidden" value="<%= req.type %>">
													<input type="hidden" value="<%= req.relativeReq.userId %>">
													<input type="hidden" value="<%= req.relativeReq.reqId %>">
													<input type="hidden" value="<%= req._id %>">
													<a name="accNotif" class="condition"><i class="bx bx-message-square-check"></i></a>
													<a name="rejNotif" class="condition"><i class="bx bx-message-square-x"></i></a>
												</div>
											</div>
										<% } else { %>
											<div class="out-messages__bot--box">
												<div class="specific">
													<p>تیم شما از تورنومنت<a href="/tournament/<%= req.sender.id %>" class="specific-team"><%= req.sender.name %></a>حذف شد</p>
												</div>
												<input type="hidden" value="<%= req.receiver.id %>">
												<input type="hidden" value="<%= req.receiver.id %>">
												<input type="hidden" value="<%= req._id %>">
												<a class="delete">حذف</a>
											</div>
										<% } %>
									<% }) %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../js/dashboard.js"></script>
	</body>
</html>
