<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<link rel="shortcut icon" href="../img/logo-lone.png" />
		<!-- Css Links -->
		<link rel="stylesheet" href="../css/dashboard-team.css" />

		<title><%= pageTitle %></title>
	</head>
	<body>
		<div class="container" style="background-image: url(../img/dashboard-bg.jpg)">
			<div class="container2">
				<a href="/" class="exit"><img src="../img/shortcut icon.png"></a>
				<div class="topblock">
					<div class="topblock__menu">
						<a href="/dashboard/settings">تنظیمات</a>
						<a>/</a>
						<a href="/dashboard/notif">اعلان ها</a>
						<a>/</a>
						<a href="/dashboard/team-tour" class="active">تیم ها و تورنومنت ها</a>
						<a>/</a>
						<a href="/dashboard">پروفایل</a>
					</div>
				</div>
				<div class="midblock">
					<div class="midblockk">
						<div class="midblock__right">
							<div class="mytourblock">
								<div class="mytourblock__box">
									<p>تورنومنت من :</p>
									<div class="mid-note"></div>
									<% if(user.ownedTournaments.length > 0) { user.ownedTournaments.forEach(tournament => { %>
										<div class="mytourblock__box--tour">
											<div class="specific-tour">
												<img src="../<%= tournament.tournamentId.imageUrl %>" alt="" />
												<span dir="ltr"><%= tournament.name %></span>
												<img src="../img/<%= tournament.tournamentId.minMMR.slice(2) %>_medal.webp" alt="" />
												<p>تا</p>
												<img src="../img/<%= tournament.tournamentId.maxMMR.slice(2) %>_medal.webp" alt="" />
												<span><%= tournament.tournamentId.startDate.toISOString().split('T')[0].replaceAll('-', '/') %></span>
											</div>
											<a href="/tournament/<%= tournament.tournamentId._id %>">مشاهده</a>
										</div>
									<% })} else { %>
										<div class="mytourblock__box--notyet">
											<span>هنوز تورنومنتی ایجاد نکرده اید .</span>
											<a href="/tournaments">ایجاد تورنومنت</a>
										</div>
									<% } %>
								</div>
							</div>
							<div class="otherteamblock">
								<div class="otherteamblock__topbox">
									<p>دیگر تورنومنت ها :</p>
									<div class="mid-note"></div>
								</div>
								<% if(user.tournaments.length > 0) { %>
									<div class="othertourblock__botbox">
										<% user.tournaments.forEach(tournament => { %>
											<div class="othertourblock__botbox--team">
												<div class="specific-tour">
													<img src="../<%= tournament.tournamentId.imageUrl %>" alt="" />
													<span dir="ltr"><%= tournament.name %></span>
													<img src="../img/<%= tournament.tournamentId.minMMR.slice(2) %>_medal.webp" alt="" />
													<p>تا</p>
													<img src="../img/<%= tournament.tournamentId.maxMMR.slice(2) %>_medal.webp" alt="" />
													<h1><%= tournament.tournamentId.startDate.toISOString().split('T')[0].replaceAll('-', '/') %></h1>
												</div>
												<a href="/tournament/<%= tournament.tournamentId._id %>">مشاهده</a>
											</div>
										<% }) %>
									</div>
								<% } else { %>
									<div class="othertourblock__notyet">
										<span>هنوز تورنومنتی شرکت نکرده اید .</span>
										<a href="/tournaments">یافتن تورنومنت</a>
									</div>
								<% } %>
							</div>
						</div>
						<div class="midblock__left">
							<div class="myteamblock">
								<div class="myteamblock__box">
									<p>تیم من :</p>
									<div class="mid-note"></div>
									<% if(user.ownedTeam.teamId) { %>
										<div class="myteamblock__box--team">
											<div class="specific">
												<img src="../<%= user.ownedTeam.teamId.imageUrl %>" alt="" />
												<span dir="ltr"><%= user.ownedTeam.teamId.name %></span>
												<img src="../img/<%= user.ownedTeam.teamId.avgMMR %>_medal.webp" alt="" />
											</div>
											<a href="/team/<%= user.ownedTeam.teamId._id %>">مشاهده</a>
										</div>
									<% } else { %>
										<div class="myteamblock__box--notyet">
											<span>هنوز تیمی ایجاد نکرده اید .</span>
											<a href="/teams">ایجاد تیم</a>
										</div>
									<% } %>
								</div>
							</div>
							<div class="otherteamblock">
								<div class="otherteamblock__topbox">
									<p>دیگر تیم ها :</p>
									<div class="mid-note"></div>
								</div>
								<% if(user.teams.length > 0) { %>
									<div class="otherteamblock__botbox">
										<% user.teams.forEach(team => { %>
											<div class="myteamblock__box--team">
												<div class="specific">
													<img src="../<%= team.teamId.imageUrl %>" alt="" />
													<span dir="ltr"><%= team.teamId.name %></span>
													<img src="../img/<%= team.teamId.avgMMR %>_medal.webp" alt="" />
												</div>
												<a href="/team/<%= team.teamId._id %>">مشاهده</a>
											</div>
										<% }) %>
									</div>
								<% } else { %>
									<div class="otherteamblock__notyet">
										<span>هنوز تیمی عضو نشده اید .</span>
										<a href="/teams">یافتن تیم</a>
									</div>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
