<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %></title>

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- Css Links -->
		<link rel="shortcut icon" href="img/shortcut icon.png" />
		<link rel="stylesheet" href="css/dashboard.css" />
	</head>
	<body>
		<div class="container" style="background-image: url(img/dashboard-bg.jpg)">
			<div class="container2">
				<div class="topblock">
					<div class="topblock__menu">
						<a href="#">تنظیمات</a>
						<a>/</a>
						<a href="#">تورنومنت</a>
						<a>/</a>
						<a href="#">تیم</a>
						<a>/</a>
						<a href="#" class="active">پروفایل</a>
					</div>
					<div class="topblock__nameteam">
						<input type="text" value="<%= user.name %>" disabled dir="ltr" />
						<div class="topblock__team">
							<span><%= user.createdAt %></span>
							<span>Team Jinx</span>
						</div>
					</div>
				</div>
				<div class="midblock">
					<div class="midblockk">
						<div class="midblock__rights">
							<img src="img/png-hero.png" alt="" />
						</div>
						<div class="midblock__right">
							<div class="midblock__right--top1">
								<p>تیم ها :</p>
								<div class="teams-details">
									<div class="team-details__nameimage">
										<img src="img/teamliquidlogo.jfif" alt="" />
										<span>Team Liqiud</span>
									</div>
									<div class="more-team">
										<a>برو به تیم</a>
									</div>
								</div>
								<div class="teams-details">
									<div class="team-details__nameimage">
										<img src="img/teamliquidlogo.jfif" alt="" />
										<span>Team Liqiud</span>
									</div>
									<div class="more-team">
										<a>برو به تیم</a>
									</div>
								</div>
								<div class="teams-details">
									<div class="team-details__nameimage">
										<img src="img/teamliquidlogo.jfif" alt="" />
										<span>Team Liqiud</span>
									</div>
									<div class="more-team">
										<a>برو به تیم</a>
									</div>
								</div>
							</div>
							<div class="midblock__right--top2">
								<p>تورنومنت ها :</p>
								<div class="tours-details">
									<div class="tour-details__nameimage">
										<img src="img/tourcards.png" alt="" />
										<span>Farshad Hogo</span>
									</div>
									<div class="more-tour">
										<a>برو به تورنومنت</a>
									</div>
								</div>
								<div class="tours-details">
									<div class="tour-details__nameimage">
										<img src="img/tourcards.png" alt="" />
										<span>Farshad Hogo</span>
									</div>
									<div class="more-tour">
										<a>برو به تورنومنت</a>
									</div>
								</div>
								<div class="tours-details">
									<div class="tour-details__nameimage">
										<img src="img/tourcards.png" alt="" />
										<span>Farshad Hogo</span>
									</div>
									<div class="more-tour">
										<a>برو به تورنومنت</a>
									</div>
								</div>
							</div>
							<div class="midblock__right--top3">
								<div class="rightbox__bot--comments">
									<div class="comments__image">
										<img src="img/player-card6.jpg" alt="" />
									</div>
									<div class="comments__box">
										<div class="comments__box--top">
											<div class="comments__box--top-name">
												<span>Mr_Bean</span>
											</div>
											<div class="comments__box--top-reply">
												<a>ارسال پست</a>
												<a><i class="bx bx-like"></i></a>
											</div>
										</div>
										<div class="comments__box--bot">
											<div class="comments__box--bot-comment">
												<input type="text" placeholder="متن دلخواه خود را بنویسید..." />
											</div>
										</div>
									</div>
								</div>
								<div class="rightbox__bot--comments">
									<div class="comments__image">
										<img src="img/player-card6.jpg" alt="" />
									</div>
									<div class="comments__box">
										<div class="comments__box--top">
											<div class="comments__box--top-name">
												<span>Mr_Bean</span>
											</div>
											<div class="comments__box--top-reply">
												<a>تغییر متن</a>
												<a><i class="bx bx-like"></i></a>
											</div>
										</div>
										<div class="comments__box--bot">
											<div class="comments__box--bot-comment">
												<p>سلام بجه ها من بازیمو بردم ...</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="midblock__left">
							<div class="midblock__left1">
								<div class="midblock__left1--top">
									<div class="midblock__left1--topimg">
										<img src="<%= user.imageUrl %>" alt="" />
									</div>
									<div class="midblock__left1--toprole">
										<% user.roles.forEach(role => { %>
											<div class="<%= role.color %>-role">
												<i class="bx bxs-circle"></i>
												<span><%= role.name %></span>
											</div>
										<% }); %>
									</div>
								</div>
								<div class="midblock__left1--bottom">
									<div class="leftbox__top2">
										<div class="rank">
											<div class="pos">
												<p>پوز</p>
												<input type="text" value="<%= user.pos? user.pos:'ثبت نشده' %>" disabled />
											</div>
											<div class="mmr">
												<p>رنک</p>
												<input type="text" value="<%= user.mmr.number %>" disabled />
											</div>
										</div>
										<div class="medal">
											<img src="img/<%= user.mmr.medal %>_medal.webp" alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="midblock__left2">
								<div
									class="midblock__left2--images"
									style="background-image: url(img/centaur-warrunner.jpg)"
								></div>
								<div
									class="midblock__left2--images"
									style="background-image: url(img/meepo.jpg)"
								></div>
								<div
									class="midblock__left2--images"
									style="background-image: url(img/wraith-king.jpg)"
								></div>
							</div>
							<div class="midblock__left3">
								<div class="email">
									<p>ایمیل :</p>
									<p dir="ltr">
										<input type="text" value="<%= user.email %>" disabled />
									</p>
								</div>
								<div class="discord-id">
									<p>آیدی دیسکورد :</p>
									<p dir="ltr"><input type="text" value="<%= user.discordId? user.discordId:'ثبت نشده' %>" disabled /></p>
								</div>
								<div class="dota2-id">
									<p>آیدی دوتا ۲ :</p>
									<p dir="ltr"><input type="text" value="<%= user.dota2Id? user.dota2Id:'ثبت نشده' %>" disabled /></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="botblock">
					<div class="botblockk">
						<a class="edit-profile">
							<i class="bx bx-pencil"></i>
							تغییر پروفایل
						</a>
						<a class="edit-image">
							<i class="bx bx-image"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<script src="js/dashboard.js"></script>
	</body>
</html>
