<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="img/logo-lone.png" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- Css Links -->
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/site.css" />
		<link rel="stylesheet" href="css/footer.css" />
		<title><%= pageTitle %></title>
	</head>
	<body>
		<!-- mouse scroll down -->
		<a href="#scrolldown">
			<div class="scroll-down">
				<div class="mouse-scroll">
					<div class="mouse"></div>
				</div>
				<div class="arrows">
					<div class="arrow"></div>
				</div>
			</div>
		</a>
		<!-- ---------------------------- -->

		<!-- slider2 -->
		<div class="slideshow-container">
			<!-- Navbar -->
			<%- include('./includes/navbar.ejs', {isLoggedIn: isLoggedIn, userName: userName, navSearch:
			true, subpath: false, notifCount: notifCount}) %>

			<div class="mySlides fade">
				<div class="shadow-box"></div>
				<img src="img/slider-pic1.jpg" />
				<div class="text">اعلام تاریخ پخش فصل سوم انیمیشن Dragon’s Blood</div>
			</div>
			<div class="mySlides fade">
				<div class="shadow-box"></div>
				<img src="img/slider-pic2.webp" />
				<div class="text">مسابقات The International 10 با قهرمانی Team Spirit پایان یافت</div>
			</div>
			<div class="mySlides fade">
				<div class="shadow-box"></div>
				<img src="img/slider-pic3.jpg" />
				<!-- <div class="numbertext">3 / 3</div> -->
				<div class="text">تغییر زمان و مکان برگزاری مسابقات The International 10</div>
			</div>
			<br />
		</div>
		<!-- LAST TOURNAMENTS -->
		<div class="last-tournaments"  id="scrolldown">
			<div class="last-tournaments__title">
				<p>تورنومنت های پیش رو :</p>
			</div>
			<div class="middle-bar"></div>
			<div class="tours-cards">
				<% if (tournaments.length > 0) { tournaments.forEach(tournament => { %>
					<div class="tour-card">
						<img class="td" src="<%= tournament.imageUrl?tournament.imageUrl:'img/tourcards.png' %>" alt=""/>
						<div class="tour-caption">
							<h2 class="tour-card__title"><%= tournament.name %></h2>
							<p class="tour-card__content">شروع از : <%= tournament.startDate %></p>
							<div class="show-medals">
								<div class="medal-title">
									<span>رنک :</span>
								</div>
								<div class="second-medal">
									<img src="img/<%= tournament.maxMMR %>_medal.webp" alt="" />
								</div>
								<div class="from-to"></div>
								<div class="first-medal">
									<img src="img/<%= tournament.minMMR %>_medal.webp" alt="" />
								</div>
							</div>
							<p class="more-button">
								<a href="/tournament/<%= tournament._id %>">جز‌ئیات بیشتر</a>
							</p>
						</div>
					</div>
				<% })} %>
				<!-- <h1 class="header1">جستجو موردنظر یافت نشد...</h1> -->
				<!-- <h1 class="header2">هنوز هیچ تورنومنتی ثبت نشده است ...</h1> -->
			</div>
		</div>
		<!-- End of last tournaments----------------------- -->
		<!-- Cards -->
		<div class="cards">
			<div class="shadow-box1"></div>
			<div class="shadow-box2"></div>

			<div class="card-box1">
				<div class="card-content">
					<h1>تورنومنت برگزار کنید .</h1>
					<p>بیش از صد تورنومنت کامل شده و ده ها تورنومنت پیش رو.‌ آیا آماده نبرد هستید ؟</p>
					<a href="/tournoments" class="card-btn">ایجاد تورنومنت</a>
				</div>
				<div class="card">
					<img src="img/tourcards.png" class="card-img" alt="" />
				</div>
			</div>
			<div class="card-box2">
				<div class="card-content">
					<h1>به راحتی مربی شوید .</h1>
					<p>
						آیا استعداد و مهارت کافی برای آموزش به دوستان و تیم های خود را دارید ؟ اینحا بهترین فرصت
						برای مربی شدن است .
					</p>
					<a href="/coach" class="card-btn">مربی شدن</a>
				</div>
				<div class="card">
					<img src="img/coachcreat.webp" class="card-img" alt="" />
				</div>
			</div>
			<div class="card-box3">
				<div class="card-content">
					<h1>تیم خود را بسازید .</h1>
					<p>آیا آمادگی رهبری یک تیم را دارید ؟ پس بدون وقفه تیم رویایی خود را بسازید .</p>
					<a href="/teams" class="card-btn">تشکیل تیم</a>
				</div>
				<div class="card">
					<img src="img/teamcreat.webp" class="card-img" alt="" />
				</div>
			</div>
		</div>

		<!-- online lft and lfp -->
		<input type="hidden" name="canSend" value="<%= canSend %>">
		<div class="lf-bg">
			<div class="shadow-box4"></div>
			<div class="shadow-box5">
				<div class="topbox">
					<h1>" نیازمند پلیر آنلاین " چیست ؟</h1>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" id="toptobotbtn" >
						<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"/>
					</svg>
					<h1>" نیازمند تیم آنلاین " چیست ؟</h1>
				</div>
				<div class="botbox">
					<p>
						جهت صرفه جویی در وقت ، تیم لیدر ها میتوانید با تکمیل پارامترهای مورد نیاز، اطلاعات پلیر مورد نظر خود را ثبت نمایند. تا اعضای سایت، تیم آنها را برای عضویت پیدا کنند .
					</p>
					<div class="vert"></div>
					<p>
						جهت صرفه جویی در وقت ، اگر شما بدنبال تیم هستید میتوانید با انتخاب رنک و رول مورد علاقه خود ،تیم مورد نظر خود را پیدا نمایید .
					</p>
				</div>
			</div>
			<div class="looking-for">
				<div class="looking-for__player--box">
					<div class="looking-for__player--title">
						<p>نیازمند پلیر آنلاین :</p>
					</div>
					<div class="looking-for__player--middle"></div>
					<div class="looking-for__player">
					</div>
					<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
					<% if (user.userName !== '') { %>
							<div class="lfp-select">
							<input type="hidden" name="ownedTeam" value="<%= user.ownedTeam %>">
							<div class="custom-select">
								<select>
									<option value="null">پوز</option>
									<option value="1">پوز 1</option>
									<option value="2">پوز 2</option>
									<option value="3">پوز 3</option>
									<option value="4">پوز 4</option>
									<option value="5">پوز 5</option>
								</select>
							</div>
							<div class="custom-select">
								<select>
									<option value="null">رنک</option>
									<option value="Herald">Herald</option>
									<option value="Guardian">Guardian</option>
									<option value="Crusader">Crusader</option>
									<option value="Archon">Archon</option>
									<option value="Legend">Legend</option>
									<option value="Ancient">Ancient</option>
									<option value="Divine">Divine</option>
									<option value="Immortal">Immortal</option>
								</select>
							</div>
							<button id="lfpSend" type="submit" class="create">ثبت</button>
						</div>
					<% } %>
				</div>
				<div class="looking-for__team--box">
					<div class="looking-for__team--title">
						<p>نیازمند تیم آنلاین :</p>
					</div>
					<div class="looking-for__team--middle"></div>
					<div class="looking-for__team">
					</div>
					<% if (user.userName !== '') { %>
						<div class="lft-select">
							<div>
								<div class="custom-select off">
									<select>
										<option value="null">پوز</option>
										<option value="1">پوز 1</option>
										<option value="2">پوز 2</option>
										<option value="3">پوز 3</option>
										<option value="4">پوز 4</option>
										<option value="5">پوز 5</option>
									</select>
								</div>
								<div class="custom-select on">
									<select>
										<option value="null">رنک</option>
										<option value="Herald">Herald</option>
										<option value="Guardian">Guardian</option>
										<option value="Crusader">Crusader</option>
										<option value="Archon">Archon</option>
										<option value="Legend">Legend</option>
										<option value="Ancient">Ancient</option>
										<option value="Divine">Divine</option>
										<option value="Immortal">Immortal</option>
									</select>
								</div>
							</div>
							<button id="lftSend" type="submit" class="create">ثبت</button>
						</div>
					<% } %>
				</div>
			</div>
		</div>
		<!-- -------------------------------------------------- -->
		<!-- Footer -->
		<%- include('./includes/footer') %>

		<!-- JavaScipt -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/main.js"></script>
		<script src="js/index.js"></script>
		<script src="js/toptobot.js"></script>
	</body>
</html>
