<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- Css Links -->
		<link rel="stylesheet" href="css/signup.css" />
		<link rel="shortcut icon" href="img/logo-lone.png" />
		<title><%= pageTitle %></title>
	</head>
	<body>
		<div class="main">
			<div class="shadow-box">
				<!-- SignUp ---------------------------------------------------------->
				<div class="registration" id="register-box" <% if(openSignup){ %> style="visibility: visible;"<% } %>>
					<form action="/auth/signup" method="post" class="register-form">
						<div class="navbar__leftbox--logo">
							<a href="/" class="navbar__leftbox--logo white-one">Sir</a>
							<a href="/" class="navbar__leftbox--logo blue-one">Vana</a>
						</div>
						<div class="flex-block">
							<div class="right-block">
								<div class="user-name">
									<label for="name">نام :</label>
									<input <% if(oldInput){ %> value="<%= oldInput.name %>"<% } %> type="text" name="name" required id="name"/>
									<% if (!isNameValid) { %>
										<span class="wrong-input-alrt"><%= nameMessage %></span>
										<!-- <span class="wrong-input-alrt"> * اسمتو پیشی خورد ؟ </span> -->
									<% } %>
								</div>
								<div class="signup-email">
									<label for="signup-email">ایمیل :</label>
									<input <% if(oldInput){ %> value="<%= oldInput.email2 %>"<% } %> type="email" name="email" required id="signup-email"/>
									<% if (!isEmail2Valid) { %>
										<span class="wrong-input-alrt"><%= emailMessage %></span>
										<!-- <span class="wrong-input-alrt">* ایمیل یادت رفت !</span> -->
									<% } %>
								</div>
								<div class="need-password">
									<label for="need-password">رمز عبور‌ :</label>
									<input type="password" name="password" id="need-password" required />
									<i class="bx bx-hide" id="icon"></i>
									<% if (!isPassword2Valid) { %>
										<span class="wrong-input-alrt"><%= passMessage %></span>
										<!-- <span class="wrong-input-alrt"> * الو ؟ رمزت کو ؟! </span> -->
									<% } %>
								</div>
							</div>
							<div class="vert"></div>
							<div class="left-block">
								<div class="need-password">
									<label for="need-password2">تکرار رمز عبور :</label>
									<input type="password" name="confirmPass" id="need-password2" required />
									<i class="bx bx-hide" id="icon2"></i>
									<% if (!isConfirmPassValid) { %>
										<span class="wrong-input-alrt"><%= confirmPassMessage %></span>
									<!-- <span class="wrong-input-alrt">* رمزو زدی . تکرارشم بزن !</span> -->
									<!-- <span class="wrong-input-alrt">* رمزهات یکی نیستن !</span> -->
									<% } %>
								</div>
								<div class="id">
									<label for="dota-id">آیدی دوتا ۲ :</label>
									<input <% if(oldInput){ %> value="<%= oldInput.dota2Id %>"<% } %> type="number"
									name="dota2Id" id="dota-id" placeholder="برای ارتباط بهتر با تیم ها و پلیر ها"
									required/> <% if (!isDota2IdValid) { %>
										<span class="wrong-input-alrt"><%= dota2IdMessage %></span>
									<!-- <span class="wrong-input-alrt"> * آیدی خیلی بدردت میخوره ! </span> -->
									<% } %>
								</div>
								<div class="id2">
									<label for="discord-id">آیدی دیسکورد :</label>
									<input <% if(oldInput){ %> value="<%= oldInput.discordId %>"<% } %> type="text" name="discordId" id="discord-id"/>
								</div>
							</div>
						</div>
						<div class="agree">
							<label for="ch">کلیک بر روی دکمه زیر به معنی پذیرفتن شرایط و قوانین سایت است .</label>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
						<input type="submit" value="تکمیل ثبت نام" />
						<p class="open">حساب کاربری دارید‌؟<a id="loginbtn">ورود</a></p>
					</form>
				</div>

				<!-- Login ------------------------------------------------------->
				<div class="login" id="login-box" <% if(openForget || openSignup){ %>
					style="visibility: hidden;"<% } %>>
					<form action="/auth/login" method="post" class="login-form">
						<div class="navbar__leftbox--logo">
							<a href="/" class="navbar__leftbox--logo white-one">Sir</a>
							<a href="/" class="navbar__leftbox--logo blue-one">Vana</a>
						</div>
						<div class="email-box">
							<label for="email">ایمیل :</label>
							<input type="text" <% if(oldInput){ %> value="<%= oldInput.email %>"<% } %>
							name="email" id="email" /> <% if (!isEmailValid) { %>
								<span class="wrong-input-alrt"><%= emailMessage %></span>
							<!-- <span class="wrong-input-alrt">* ایمیل یادت رفت !</span> -->
							<% } %>
						</div>
						<div class="password-box">
							<label for="password">رمز عبور :</label>
							<input type="password" name="password" id="password" />
							<i class="bx bx-hide" id="icon3"></i>
							<% if (!isPasswordValid) { %>
								<span class="wrong-input-alrt"><%= passMessage %></span>
							<!-- <span class="wrong-input-alrt">* رمزو نمیخوای بزنی ؟!</span> -->
							<% } %>
						</div>
						<div class="text-box">
							<div class="remember-me">
								<input type="checkbox" name="rememberCheck" id="checkbox" />
								<label for="checkbox"> مرا بخاطر بسپار </label>
							</div>
							<div class="forgot-password">
								<a id="forgotbtn">فراموشی رمز عبور</a>
							</div>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
						<input type="submit" value="ورود" />
						<p class="create">عضو نیستید؟ <a id="registerbtn">اینجا</a> را کلیک کنید.</p>
					</form>
				</div>

				<!-- Forgot Password ----------------------------------------------- -->
				<div class="forgot" id="forgot-box" <% if(openForget){ %>
					style="visibility: visible;"<% } %>>
					<form action="/auth/reset-password" method="post" class="forgot-form">
						<div class="navbar__leftbox--logo">
							<a href="/" class="navbar__leftbox--logo white-one">Sir</a>
							<a href="/" class="navbar__leftbox--logo blue-one">Vana</a>
						</div>
						<div class="forgot-box">
							<label for="forgot-email">ایمیل خود را وارد نمایید :</label>
							<input type="email" <% if(oldInput){ %> value="<%= oldInput.email3 %>"<% } %> name="email" id="forgot-email" required/> 
							<% if (!isEmail3Valid) { %>
								<span class="wrong-input-alrt"><%= emailMessage %></span>
								<!-- <span class="wrong-input-alrt">* ایمیل یادت رفت !</span> -->
							<% } %>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
						<input type="submit" value="ارسال" />
						<p class="open">حساب کاربری دارید‌؟<a id="logingbtn">ورود</a></p>
					</form>
				</div>
			</div>
		</div>
		<script src="js/loginsign.js"></script>
	</body>
</html>
