<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %></title>

		<link rel="shortcut icon" href="./img/shortcut icon.png" />
		<!-- Site Icon -->
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<!-- css links -->
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/teams.css" />
		<link rel="stylesheet" href="css/footer.css" />
	</head>

	<body>
		<!-- Navbar -->
		<%- include('./includes/navbar.ejs', {isLoggedIn: isLoggedIn, userName:
		userName}) %>

		<!-- background -->
		<div class="teams-page">
			<div class="dark-box"></div>
		</div>
		<!--  -->

		<!-- create team modal box -->
		<div class="create-team">
			<div class="create-team__content">
				<span class="close-button">&times;</span>
				<form
					class="team-make"
					action="/team"
					method="post"
					enctype="multipart/form-data"
				>
					<div class="right-box">
						<div class="form-controls">
							<label for="name">اسم کامل تیم :</label>
							<input
								type="text"
								name="name"
								id="name"
								autofocus
								required
							/>
							<label for="tag">تگ تیم :</label>
							<input
								type="text"
								name="nameTag"
								id="tag"
								placeholder="تگ میتواند مخفف اسم تیم باشد."
								required
							/>
						</div>
					</div>
					<div class="vert"></div>
					<div class="left-box">
						<div class="descriptions">
							<label for="desc">توضیحات تیم :</label>
							<textarea
								name="description"
								id="desc"
								cols="10"
								rows="10"
							></textarea>
						</div>
						<label>تصویر تیم :</label>
						<div class="image-uploads">
							<input type="file" name="image" id="file" />
							<a><i class="bx bx-plus"></i></a>
						</div>
						<input
							type="hidden"
							name="_csrf"
							value="<%= csrfToken %>"
						/>
						<button class="create" type="submit">ایجاد</button>
					</div>
				</form>
			</div>
		</div>

		<div class="team-box">
			<div class="shadow-box">
				<!-- TEAMS FILTERS -->
				<div class="top-box">
					<form class="filters" action="/teams" method="get">
						<div class="search">
							<div class="navbar__leftbox--search" id="show" dir="rtl" >
								<i class="bx bx-search-alt"></i>
								<input dir="rtl" name="search" type="search" value="<%= searchInput %>" placeholder="جستجوی تیم ..."/>
							</div>
						</div>
						<div class="dpdw-menu">
							<i class="bx bx-sort-down"></i>
							<span>مرتب سازی‌ :</span>
							<div class="menu">
								<select name="sortType">
									<option data-value="name" <%= sortType === 'اسم تیم'? 'selected': '' %>> اسم تیم </option>
									<option data-value="avgMMR" <%= sortType === 'میانگین رنک'? 'selected': '' %>> میانگین رنک </option>
									<option data-value="memberCount" <%= sortType === 'تعداد اعضا'? 'selected': '' %>>تعداد اعضا </option>
								</select>
								<span class="focus"></span>
							</div>
						</div>
						<div class="vertical"></div>
						<div class="checkbox">
							<label for="check" class="form-control">
								<input type="checkbox" id="check" name="lfp" <%= lfpCheck ? 'checked': '' %> />
								نیازمند پلیر
							</label>
						</div>
						<button type="submit" class="range">اعمال فیلتر</button>
					</form>
				</div>
				<div class="middle"></div>
				<!-- TEAMS LIST -->
				<div class="teams-cards">
					<% if(noFilter) { %>
						<div class="team-card" id="create-button">
							<a><i class="bx bx-plus-medical"></i></a>
							<a><p>ایجاد تیم</p></a>
						</div>
					<% } %>
					<% if (teams.length > 0) { %> <% teams.forEach(team => { %>
						<div class="team-card">
							<img src="<%= team.imageUrl %>" alt="" />
							<div class="team-caption">
								<h2 class="team-card__title"><%= team.name %></h2>
								<p class="team-card__content">میانگین رنک : <%= team.avgMMR %></p>
								<p class="team-card__members">تعداد اعضا : <%= team.memberCount %></p>
								<p class="team-card__needmember">
									نیازمند پلیر <% if (team.lfp) { %> :
										<i class="bx bxs-check-circle"></i> 
									<% } else { %>
										 : <i class="bx bxs-x-circle"></i>
									<% } %>
								</p>
								<p class="more-button"><a href="#">جز‌ئیات بیشتر</a></p>
							</div>
						</div>
					<% })} else { %>
						<h1>جستجو موردنظر یافت نشد...</h1>
					<% } %>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<%- include('./includes/footer') %>

		<!-- scripts -->
		<script src="js/burger.js"></script>
		<script src="js/team-modalbox.js"></script>
	</body>
</html>
