<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %></title>

		<link rel="shortcut icon" href="img/logo-lone.png" />
		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
		<!-- css links -->
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/teams.css" />
		<link rel="stylesheet" href="css/footer.css" />
	</head>

	<body>
		<!-- Navbar -->
		<%- include('./includes/navbar.ejs', {isLoggedIn: isLoggedIn, userName:
		userName, navSearch: false, subpath: false}) %>

		<!-- background -->
		<div class="teams-page">
			<div class="dark-box"></div>
		</div>
		<!--  -->

    <!-- create team modal box -->
    <div class="create-team<%= openModal? ' show-modal':'' %>">
        <div class="create-team__content">
            <div class="create-teambg">
                <div class="modal-title">
                    <span class="close-button">&times;</span>
                    <h1 class="modal-title">تشکیل تیم</h1>
                </div>
                <form class="team-make" action="/team" method="post" enctype="multipart/form-data">
                    <div class="right-box">
                        <div class="form-controls">
                            <label for="name">اسم کامل تیم :</label>
                            <input <% if(oldInput){ %> value="<%= oldInput.name %>"<% } %> type="text" name="name" id="name" autofocus required />
                            <% if (!isNameValid) { %>
								<span class="wrong-input-alrt">* اسم تیم یادت رفت</span>
							<% } %>
                            <label for="tag">تگ تیم :</label>
                            <input <% if(oldInput){ %> value="<%= oldInput.nameTag %>"<% } %> type="text" name="nameTag" id="tag" placeholder="تگ مخفف اسم تیم است ." required/>
                            <% if (!isNameTagValid) { %>
                                <span class="wrong-input-alrt">* تگ تیم یادت رفت</span>
							<% } %>
                        </div>
                    </div>
                    <div class="vert"></div>
                    <div class="left-box">
                        <div class="descriptions">
                            <label for="desc">توضیحات تیم :</label>
                            <textarea name="description" id="desc" cols="10" rows="10"> <% if(oldInput){ %><%= oldInput.description %><% } %></textarea>
                        </div>
                        <label>تصویر تیم :</label>
                        <div class="image-uploads">
                            <input type="file" name="image" id="file" multiple />
                            <a><i class="bx bx-plus"></i></a>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                        <button class="create" type="submit">ایجاد</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Modal -------------------------------------------------- -->
    <!-- filter box -->
    <div class="team-box">
        <div class="shadow-box">
            <!-- TEAMS FILTERS -->
            <div class="top-box">
                <form class="filters" action="/teams" method="get">
                    <div class="right-filter">
                        <div class="search">
                            <div class="navbar__leftbox--search" id="show" dir="rtl">
                                <i class="bx bx-search-alt"></i>
                                <input dir="rtl" name="search" type="search" value="<%= searchInput %>" placeholder="جستجوی تیم ..." />
                            </div>
                        </div>
                    <div class="dpdw-menu">
                        <i class="bx bx-sort-down"></i>
                        <span>مرتب سازی‌ :</span>
                        <div class="menu">
                            <select name="sortType">
                                <option <%= sortType === 'اسم تیم'? 'selected': '' %>> اسم تیم </option>
                                <option <%= sortType === 'میانگین رنک'? 'selected': '' %>> میانگین رنک </option>
                                <option <%= sortType === 'تعداد اعضا'? 'selected': '' %>>تعداد اعضا </option>
                            </select>
                            <span class="focus"></span>
                        </div>
                    </div>
                    <div class="vertical"></div>
                        <div class="checkbox">
                            <label for="check" class="form-control">
                            <input type="checkbox" id="check" name="lfp" <%= lfpCheck ? 'checked': '' %>/>
                            نیازمند پلیر
                            </label>
                        </div>
                        <input type="hidden" name="filter" value="true">
                        <button type="submit" class="range">اعمال فیلتر</button>
                    </div>
                    <div class="left-filter">
                        <div class="remove-filter">
                            <a href="/teams" class="remove-filter">حذف فیلتر </a>
                            <i class='bx bx-chevron-left'></i>
                        </div>
                    </div>
                </form>
            </div>
            <div class="middle"></div>
                <!-- End of filter box ------------------------------->
                <!-- Cards -->
                <div class="teams-cards">
                    <% if(noFilter) { %>
                        <div class="team-card" id="create-button">
                            <a><i class="bx bx-plus-medical"></i></a>
                            <a><p>ایجاد تیم</p></a>
                        </div>
                    <% } %>
                    <% if (teams.length > 0) { %> <% teams.forEach(team => { %>
                        <div class="team-card">
                            <img src="<%= team.imageUrl %>" alt="" />
                            <div class="team-caption">
                                <h2 class="team-card__title"><%= team.name %></h2>
                                <p class="team-card__content">میانگین رنک : <%= team.avgMMR %></p>
                                <p class="team-card__members">تعداد اعضا : <%= team.memberCount %></p>
                                <p class="team-card__needmember">
                                    نیازمند پلیر <% if (team.lfp) { %> :
                                        <i class="bx bxs-check-circle"></i> 
                                    <% } else { %>
                                        : <i class="bx bxs-x-circle"></i>
                                    <% } %>
                                </p>
                                <p class="more-button"><a href="/team/<%= team._id %>">جز‌ئیات بیشتر</a></p>
                            </div>
                        </div>
                    <% })} if(teams.length == 0 && noFilter) { %>
                        <h1 class="header1">هنوز هیچ تیمی ثبت نشده است ...</h1>
                    <% } %>
                </div>
                <% if(teams.length == 0 && !noFilter) { %>
                    <h1 class="header1">جستجو موردنظر یافت نشد...</h1>
                <% } %>
            </div>
            <!-- <h1 class="header1">جستجو موردنظر یافت نشد...</h1> -->
        </div>
    </div>
    <div class="center">
        <div class="pagination">
            <a href="#">&raquo;</a>
            <a href="#"  class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">...</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&laquo;</a>
        </div>
    </div>
    <!-- Footer -->
    <%- include('./includes/footer') %>

    <!-- scripts -->
    <script src="js/team.js"></script>
    <script src="js/main.js"></script>
	</body>
</html>
