<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %></title>

		<link rel="shortcut icon" href="../img/shortcut icon.png" />
		<!-- Site Icon -->
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
		<!-- css links -->
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/tournoment.css" />
		<link rel="stylesheet" href="../css/tournament-info.css" />
		<link rel="stylesheet" href="../css/footer.css" />
	</head>

	<body>
		<!-- Navbar -->
		<%- include('./includes/navbar.ejs', {isLoggedIn: isLoggedIn, userName: userName, navSearch: true}) %>

		<!-- background -->
		<div class="tournament-page">
			<div class="dark-box">
				<div class="header-title">
					<p>تورنومنت بزرگ خود را بسازید.</p>
					<span>بیش از صد تورنومنت کامل شده و ده ها تورنومنت پیش رو.‌ آیا آماده نبرد هستید ؟</span>
				</div>
			</div>
		</div>
		<!--  -->

		<!-- filter box -->
		<div class="tour-box">
			<div class="shadow-box">
				<div class="top-box"></div>

				<!-- Cards -->
				<div class="middle"></div>

				<!-- informations -->
				<div class="informations">
					<div class="info-header">
						<div class="info-header__image">
							<img src="../<%= tournament.imageUrl %>" alt="" />
							<div style="display: none;" class="image-upload">
								<input name="image" type="file">
								<a><i class="bx bx-plus"></i></a>
							</div>
						</div>
						<div class="info-header__data">
							<div class="info-header__data--left">
								<input name="name" type="text" value="<%= tournament.name %>" dir="ltr" disabled />
								<div class="info-header__data--details">
									<span>شروع تورنومنت :</span>
									<input type="datetime-local" name="startDate" value="<%= tournament.startDate %>" disabled>
									<span dir="ltr"><%= tournament.startDate %></span>
								</div>
							</div>
							<div class="mmr">
								<img src="../img/<%= tournament.minMMR.slice(2) %>_medal.webp" alt="" />
								<span>تا</span>
								<img src="../img/<%= tournament.maxMMR.slice(2) %>_medal.webp" alt="" />
							</div>
						</div>
					</div>
					<div class="info-blocks">
						<div class="right-block">
							<div class="right-block__right">
								<div class="members__box">
									<div class="top-title">
										<p>تیم های انتخابی:</p>
										<p>16/<span><%= tournament.teams.length %></span></p>
									</div>
									<div class="mid-note"></div>
									<% if(tournament.teams.length > 0) { %>
										<div class="members">
											<% tournament.teams.forEach(team => { %>
												<a class="members__box--team">
													<svg name="addTeamPlus" style="display: none;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
														<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
													</svg>
													<div class="members-specific">
														<img src="../<%= team.teamId.imageUrl %>"/>
														<span dir="ltr"><%= team.teamId.name %></span>
														<img src="../img/<%= team.teamId.avgMMR %>_medal.webp" alt="" />
													</div>
												</a>
											<% }) %>
										</div>
									<% } else { %>
										<div class="members__box--notyet">
											<span>هنوز تیمی اضافه نشده است .</span>
										</div>
									<% } %>
								</div>
								<div class="buttons">
									<% if(isLeader) { %>
										<a name="joinTourReq" class="button__right">درخواست شرکت</a>
									<% } %>
									<% if(isOrganizer) { %>
										<a name="editTour" class="button__left">تغییر اطلاعات</a>
									<% } %>
								</div>
							</div>
							<div class="chart">
								<p>زمانبندی‌ بازی ها :</p>
								<div class="mid-note"></div>

								<div class="chart-box">
									<!-- <div class="members__box--notyet1">
										<span>هنوز تیمی اضافه نشده است .</span>
									</div> -->
									<div class="block1">
										<% tournament.games.forEach(game => { %>
											<div class="details">
												<div class="teams-match">
													<div class="team1">
														<svg name="selectTeamPlus" style="display: none;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
															<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
														</svg>
														<a href="/team/<%= game.team1.teamId  %>">تیم 1 : <span><%= game.team1.name %></span></a>
													</div>
													<span class="vs">Vs</span>
													<div class="team1">
														<svg name="selectTeamPlus" style="display: none;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
															<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
														</svg>
														<a href="/team/<%= game.team2.teamId  %>">تیم 2 : <span><%= game.team2.name %></span></a>
													</div>
												</div>
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"/>
												</svg>
												<div class="timedate">
													<input type="text" value="<%= game.dateTime.date  %>" dir="ltr" disabled />
													<input type="text" value="<%= game.dateTime.time  %>" dir="ltr" disabled />
												</div>
											</div>
										<% }) %>
										<div name="addGamePlus" style="display: none;" class="plus-svg">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
												<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="left-block">
							<div href="/player/<%= tournament.organizer.userId._id %>" class="tournament-leader">
								<p>برگذارکننده تورنومنت :</p>
								<div class="mid-note"></div>
								<a class="leader">
									<img src="../<%= tournament.organizer.userId.imageUrl %>" alt="" />
									<span dir="ltr"><%= tournament.organizer.userId.name %></span>
									<img src="../img/<%= tournament.organizer.userId.mmr %>_medal.webp" alt="" />
								</a>
							</div>
							<div class="descrip">
								<p>توضیحات تورنومنت :</p>
								<div class="mid-note"></div>
								<textarea name="description" cols="30" rows="10" disabled><%= tournament.description %></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<%- include('./includes/footer') %>

		<!-- scripts -->
		<script src="../js/tournament.js"></script>
		<script src="../js/main.js"></script>
	</body>
</html>